@model CheeseMVC.Models.Cheese

<h1>My Cheese</h1>



@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}
<p><a asp-controller="Cheese" asp-action="Add"><button type="button">Add Cheese</button></a></p>

<form method="post">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

    
    @foreach (Cheese cheese in ViewBag.Cheeses)
    {
        <tr>
            <td><input type="checkbox" name="cheeses" value="@cheese.CheeseId"/>&nbsp @cheese.Name</td>
            <td>@cheese.Description</td>  
        </tr>
    }
    </table>
    <input type="submit" value="Remove Cheese" />
    
</form>

