@model CheeseMVC.Models.Cheese

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<form method="post">
<ul>
    
    @foreach (Cheese cheese in ViewBag.Cheeses)
    {
    <li>
        <h3>@cheese.Name
        <input type="checkbox" name="cheeses" value="@cheese.CheeseId"/></h3>
        <p>@cheese.Description</p>
        
    </li>
    }
</ul>
<input type="submit" value="Remove Cheese" />
</form>